.chat-main {
  background-color: #fff;
  width: 100vw;
}

.conversation-body {
  height: calc(100vh - 184px);
  overflow: hidden scroll;
  position: relative;
}
.conversations {
  padding: 24px;
  height: 100%;
  width: 100%;
}

.ul-conversation {
  padding-left: 0;
  padding-right: 0;
  list-style: none;
}

.li-conversation {
  clear: both;
  margin-bottom: 35px;
}


.li-conversation > .wrap-conversation {
  display: inline-flex;
  text-align: left;
  align-items: flex-start;
  position: relative;
}

.li-conversation.right > .wrap-conversation {
  float: right;
  text-align: right;
  display: inline-flex;
  align-items: flex-end;
  position: relative;
  margin-bottom: 14px;
}

.li-conversation > .wrap-conversation > .chat-avatar {
  margin-right: 16px;
}

.li-conversation.right > .wrap-conversation > .chat-avatar {
  display: none;
}

.li-conversation > .wrap-conversation > .user-chat-content > .chat-name {
  font-size: 14px;
}

.li-conversation.right > .wrap-conversation > .user-chat-content > .chat-name {
  display: none;
}

.user-chat-content > .wrap-text {
  border-radius: 17px;
  padding: 12px 20px;
  background-color:cornflowerblue;
  color: #fff;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-0 {
  margin: 0;
}

.p-time {
  margin-top: 4px;
  font-size: 12px;
  text-align: right;
  color: rgba(255, 255, 255, 0.5);
}
.chat-header {
  padding: 1.5rem !important;
  border: 1px solid #f0eff5 !important;
}

.chat-header-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chat-header-row > .user {
  display: flex;
  flex-direction: row;
  align-items: inherit;
  width: 34%;
}

.avatar {
  margin-right: 20px;
}
.user-name a {
  text-decoration: none !important;
}

.user-tools {
  width: 66%;
  padding-right: 12px;
  padding-left: 12px;
}

.ul-user-tools {
  list-style: none;
  text-align: right;
  margin-bottom: 0;
}

.li-user-tool {
  display: inline-block;
}

button.button {
  border: none;
  height: 40px;
  width: 40px;
  background-color: transparent;
}

button.button:focus {
  outline: none;
}

.li-user-tool:not(:last-child) {
  margin-right: 1.5rem;
}

/* Chat conversation */

.chat-conversation {
  height: calc(100vh - 184px);
}
