.side-menus {
  min-width: 75px;
  max-width: 75px;
  height: 100vh;
  min-height: 570px;
  background-color: #fff;
  display: flex;
  z-index: 9;
}

.flex-direct-col {
  flex-direction: column !important;
}

.margin-auto {
  margin: auto;
}

.flex-direct-col.margin-auto{
  border: 1px solid green;
}

.brand-box {
  line-height: 75px;
  border: 1px solid red;
}
