@media (min-width: 992px) {
  .side-menu {
    min-width: 75px;
    max-width: 75px;
    height: 100vh;
    min-height: 570px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    z-index: 9;
  }
}

@media (max-width: 991.98px) {
  .side-menu {
    position: fixed;   
    bottom: 0;
    height: 60px;
    min-width: 100%;
    min-height: auto;
    display: block;
    border-top: 1px solid #f0eff5;
  }
}

.brand-box {
  line-height: 75px;
}

.menu-box {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.end-menu-box {
  height: 140px;
}

.ul-side-menu {
  list-style: none;
  padding-left: 0;
}

.li-sidebar {
  margin: 20px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.li-sidebar-link {
  width: 56px;
  height: 56px;
  line-height: 56px;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}
